.container-fluid,.container,.row,p,h1,h2,h3,h4,h5,h6{
    padding: 0!important;
    margin: 0!important;
}
a{

}
.row{
    padding-left: 3.47222222222%!important;
    padding-right: 3.47222222222%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}
.row>*{
    padding: 0;
}
.col-md-5{
    margin: 0!important;
    padding: 0!important;
}
.container-fluid{
    max-width: 1324px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.col-md-6 , .col-md-9,.col-md-7,.col-md-5,.col-md-3