@media (min-width: 0) and (max-width: 414px)
{

    h1{
        font-size: 30px!important;
    }
    h2{
        font-size: 28px!important;
    }


    #header-block{
        background-image: url("../img/header/header.png");
        background-size: cover ;
        background-position: 40% 40%;
        padding-top: 90px!important;
        padding-bottom: 200px!important;
    }
    #central-blocks{
        background-image: url("../img/bg/Group 506.png");
        background-repeat: no-repeat;
        background-size: cover ;
        background-clip: border-box;
        background-position: center;

    }


    #features-text{
        padding-left: 0!important;
        padding-right: 0!important;
    }

    #services-img{
        margin-top: 30px!important;
    }


    #faq .title{
        margin-top: 80px!important;
    }
    #bottom-block{
        margin-top: 30px!important;
    }
    #our-content-text{
        margin-top: 15px!important;
    }
    #cta{
        background-image: url("../img/cta/Background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover  ;
        background-clip: border-box;
        padding: 55px 0!important;
    }
    #f-links{
        margin-top: 50px!important;
    }
    .f-l-block{
        margin-top: 30px!important;
    }
    #footer{
        text-align: center!important;
    }





    .accordion-button::before{
        content: "";
        background-image: url("../img/faq/Icon.png");
        background-repeat: no-repeat;

        transition: transform .2s ease-in-out;
        margin-right: 10px!important;
        padding-right: 15px!important;
        z-index: 999!important;
    }
    .accordion-button:not(.collapsed)::before{
        background-image: url("../img/faq/Icon2.png");
        transform: rotate(-180deg);
        margin-bottom: 14px!important;
        z-index: 999!important;
    }


    .accordion-item{
        background: #FFFFFF!important;
        border: 1px solid #F3F4FE!important;
        box-sizing: border-box!important;
        box-shadow: 0px 20px 95px white!important;
        border-radius: 10px!important;
        padding: 20px!important;
        margin-top: 35px!important;
    }
}
